<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="gov.nasa.jpl.imce.oml.viewpoint.Activator"
               id="gov.nasa.jpl.imce.oml.viewpoint"
	       name="viewpoint">
    </component>
  </extension>
</plugin>
