<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/OML.features"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-OML"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<setAttribute key="selected_features">
<setEntry value="gov.nasa.jpl.imce.oml.feature:default"/>
<setEntry value="org.eclipse.cvs.source:default"/>
<setEntry value="org.eclipse.cvs:default"/>
<setEntry value="org.eclipse.draw2d:default"/>
<setEntry value="org.eclipse.e4.rcp.source:default"/>
<setEntry value="org.eclipse.e4.rcp:default"/>
<setEntry value="org.eclipse.ecf.core.feature:default"/>
<setEntry value="org.eclipse.ecf.core.source.feature:default"/>
<setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.core.ssl.source.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.source.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.source.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.ssl.source.feature:default"/>
<setEntry value="org.eclipse.egit:default"/>
<setEntry value="org.eclipse.emf.cdo.compare:default"/>
<setEntry value="org.eclipse.emf.cdo.doc:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer.source:default"/>
<setEntry value="org.eclipse.emf.cdo.examples.installer:default"/>
<setEntry value="org.eclipse.emf.cdo.server.db:default"/>
<setEntry value="org.eclipse.emf.cdo.server:default"/>
<setEntry value="org.eclipse.emf.cdo:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore:default"/>
<setEntry value="org.eclipse.emf.codegen.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui.source:default"/>
<setEntry value="org.eclipse.emf.codegen.ui:default"/>
<setEntry value="org.eclipse.emf.codegen:default"/>
<setEntry value="org.eclipse.emf.common.source:default"/>
<setEntry value="org.eclipse.emf.common.ui.source:default"/>
<setEntry value="org.eclipse.emf.common.ui:default"/>
<setEntry value="org.eclipse.emf.common:default"/>
<setEntry value="org.eclipse.emf.compare.diagram.gmf:default"/>
<setEntry value="org.eclipse.emf.compare.diagram.sirius:default"/>
<setEntry value="org.eclipse.emf.compare.egit:default"/>
<setEntry value="org.eclipse.emf.compare.ide.ui:default"/>
<setEntry value="org.eclipse.emf.compare:default"/>
<setEntry value="org.eclipse.emf.converter.source:default"/>
<setEntry value="org.eclipse.emf.converter:default"/>
<setEntry value="org.eclipse.emf.databinding.edit.source:default"/>
<setEntry value="org.eclipse.emf.databinding.edit:default"/>
<setEntry value="org.eclipse.emf.databinding.source:default"/>
<setEntry value="org.eclipse.emf.databinding:default"/>
<setEntry value="org.eclipse.emf.doc.source:default"/>
<setEntry value="org.eclipse.emf.doc:default"/>
<setEntry value="org.eclipse.emf.ecore.edit.source:default"/>
<setEntry value="org.eclipse.emf.ecore.edit:default"/>
<setEntry value="org.eclipse.emf.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.ecore.source:default"/>
<setEntry value="org.eclipse.emf.ecore:default"/>
<setEntry value="org.eclipse.emf.ecoretools.design:default"/>
<setEntry value="org.eclipse.emf.edit.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui.source:default"/>
<setEntry value="org.eclipse.emf.edit.ui:default"/>
<setEntry value="org.eclipse.emf.edit:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore:default"/>
<setEntry value="org.eclipse.emf.mapping.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui.source:default"/>
<setEntry value="org.eclipse.emf.mapping.ui:default"/>
<setEntry value="org.eclipse.emf.mapping:default"/>
<setEntry value="org.eclipse.emf.sdk:default"/>
<setEntry value="org.eclipse.emf.source:default"/>
<setEntry value="org.eclipse.emf.transaction:default"/>
<setEntry value="org.eclipse.emf.validation:default"/>
<setEntry value="org.eclipse.emf.workspace:default"/>
<setEntry value="org.eclipse.emf:default"/>
<setEntry value="org.eclipse.epp.logging.aeri.feature:default"/>
<setEntry value="org.eclipse.epp.mpc:default"/>
<setEntry value="org.eclipse.epp.package.common.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.discovery.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature.source:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui.source:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.gef:default"/>
<setEntry value="org.eclipse.gmf.runtime.notation:default"/>
<setEntry value="org.eclipse.gmf.runtime.thirdparty:default"/>
<setEntry value="org.eclipse.gmf:default"/>
<setEntry value="org.eclipse.help.source:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jdt.source:default"/>
<setEntry value="org.eclipse.jdt:default"/>
<setEntry value="org.eclipse.jgit:default"/>
<setEntry value="org.eclipse.ocl.all.sdk:default"/>
<setEntry value="org.eclipse.ocl.all:default"/>
<setEntry value="org.eclipse.ocl.core.sdk:default"/>
<setEntry value="org.eclipse.ocl.doc.source:default"/>
<setEntry value="org.eclipse.ocl.doc:default"/>
<setEntry value="org.eclipse.ocl.edit.source:default"/>
<setEntry value="org.eclipse.ocl.edit:default"/>
<setEntry value="org.eclipse.ocl.source:default"/>
<setEntry value="org.eclipse.ocl.ui.source:default"/>
<setEntry value="org.eclipse.ocl.ui:default"/>
<setEntry value="org.eclipse.ocl.uml.source:default"/>
<setEntry value="org.eclipse.ocl.uml:default"/>
<setEntry value="org.eclipse.ocl:default"/>
<setEntry value="org.eclipse.oomph.p2:default"/>
<setEntry value="org.eclipse.oomph.setup.core:default"/>
<setEntry value="org.eclipse.oomph.setup:default"/>
<setEntry value="org.eclipse.pde.source:default"/>
<setEntry value="org.eclipse.pde:default"/>
<setEntry value="org.eclipse.platform.source:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp.source:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.eclipse.sdk:default"/>
<setEntry value="org.eclipse.sirius.runtime.aql:default"/>
<setEntry value="org.eclipse.sirius.runtime.ide.ui:default"/>
<setEntry value="org.eclipse.sirius.runtime.ide.xtext:default"/>
<setEntry value="org.eclipse.sirius.runtime:default"/>
<setEntry value="org.eclipse.uml2.codegen.ecore.ui.source:default"/>
<setEntry value="org.eclipse.uml2.codegen.ecore.ui:default"/>
<setEntry value="org.eclipse.uml2.common.edit.source:default"/>
<setEntry value="org.eclipse.uml2.common.edit:default"/>
<setEntry value="org.eclipse.uml2.common.source:default"/>
<setEntry value="org.eclipse.uml2.common:default"/>
<setEntry value="org.eclipse.uml2.doc:default"/>
<setEntry value="org.eclipse.uml2.examples.source:default"/>
<setEntry value="org.eclipse.uml2.examples:default"/>
<setEntry value="org.eclipse.uml2.sdk:default"/>
<setEntry value="org.eclipse.uml2.source:default"/>
<setEntry value="org.eclipse.uml2.uml.edit.source:default"/>
<setEntry value="org.eclipse.uml2.uml.edit:default"/>
<setEntry value="org.eclipse.uml2.uml.source:default"/>
<setEntry value="org.eclipse.uml2.uml:default"/>
<setEntry value="org.eclipse.uml2:default"/>
<setEntry value="org.eclipse.xtext.runtime:default"/>
<setEntry value="org.eclipse.xtext.ui:default"/>
<setEntry value="org.eclipse.xtext.xbase.lib:default"/>
<setEntry value="org.eclipse.xtext.xbase:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
