<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 
 Copyright 2017 California Institute of Technology ("Caltech").
 U.S. Government sponsorship acknowledged.
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
 
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated OMLRuntime -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="gov.nasa.jpl.imce.oml.runtime.presentation.RuntimeModelWizardID"
            name="%_UI_RuntimeModelWizard_label"
            class="gov.nasa.jpl.imce.oml.runtime.presentation.RuntimeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RuntimeModelFile.gif">
         <description>%_UI_RuntimeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated OMLRuntime -->
      <editor
            id="gov.nasa.jpl.imce.oml.runtime.presentation.RuntimeEditorID"
            name="%_UI_RuntimeEditor_label"
            icon="icons/full/obj16/RuntimeModelFile.gif"
            extensions="runtime"
            class="gov.nasa.jpl.imce.oml.runtime.presentation.RuntimeEditor"
            contributorClass="gov.nasa.jpl.imce.oml.runtime.presentation.RuntimeActionBarContributor">
      </editor>
   </extension>
</plugin>
