<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.commands">
		<category
			id="gov.nasa.jpl.imce.oml.dsl.ui.converter.Category"
			name="OML">
		</category>
		<command
			id="gov.nasa.jpl.imce.oml.dsl.ui.converter.LiftOMLBundleToXcoreCommand"
			categoryId="gov.nasa.jpl.imce.oml.dsl.ui.converter.Category"
			name="Lift OML Bundle to Xcore Metamodel Command"/>
	</extension>
	<extension
    	point="org.eclipse.ui.handlers">
		<handler
        	class="gov.nasa.jpl.imce.oml.dsl.ui.converter.LiftOMLBundleToXcoreHandler"
        	commandId="gov.nasa.jpl.imce.oml.dsl.ui.converter.LiftOMLBundleToXcoreCommand">
      	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
        	<command
            	commandId="gov.nasa.jpl.imce.oml.dsl.ui.converter.LiftOMLBundleToXcoreCommand"
            	style="push">
            	<visibleWhen checkEnabled="false">
            		<iterate>
       					<adapt type="org.eclipse.core.resources.IResource">
          					<test property="org.eclipse.core.resources.name" value="*.oml"/>
       					</adapt>
    				</iterate>
            	</visibleWhen>
        	</command>
    	</menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
    	<menuContribution locationURI="popup:#TextEditorContext?after=additions">
        	<command
            	commandId="gov.nasa.jpl.imce.oml.dsl.ui.converter.LiftOMLBundleToXcoreCommand"
            	style="push">
	            <visibleWhen checkEnabled="false">
	            	<reference 
	            		definitionId="gov.nasa.jpl.imce.oml.dsl.OntologicalModelingLanguage.XtextEditor.opened">
	                </reference>
	            </visibleWhen>
        	</command>
    	</menuContribution>
	</extension>
</plugin>
